.highlight {
    background-color: rgb(122, 122, 0);
    border-radius: 2.5px;
}

.beginningParagraphs {
    font-size: 10px;
}

.message {
    background-color: lightgreen;
    color: black;
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 2.5px;
}

.error {
    background-color: lightcoral;
    border: red;
    width: 20rem;
    height: 2rem;
    color: white;
    border-style: none;
    border-radius: 2rem;
    text-align: center;
}

.inputbox {
    background-color: #1f1f1f;
    width: 20rem;
    height: 2rem;
    color: white;
    border-style: none;
    border-radius: 2rem;
    text-align: center;
}

.startbutton {
    background-color: #1f1f1f;
    width: 6rem;
    height: 2rem;
    color: white;
    border-style: none;
    border-radius: 2rem;
}

body {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    background-color: #151515;
    /* I adjusted the padding whilst in School, I have no idea if this looks any good */
    padding-top: 20vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
}