@import url('https://unpkg.com/@catppuccin/palette@0.1.1/css/catppuccin.css');

.highlight {
  background-color: var(--ctp-mocha-lavender); 
  border-radius: 2.5px;
  color: black;
}

.beginningParagraphs {
  font-size: 15px;
}

.message {
  /* background-color: lightgreen; */
  background-color: var(--ctp-mocha-green);
  color: black;
  border-radius: 2rem;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
}

.error {
  background-color: var(--ctp-mocha-red);
  border: var(--ctp-mocha-red);
  max-width: 20vw;
  min-width: 15vw;
  height: 2rem;
  color: black;
  border-style: solid;
  border-radius: 2rem;
  text-align: center;
}

.startbutton,
.inputbox {
  background-color: var(--ctp-mocha-mantle);
  color: white;
  border-radius: 2rem;
  border-style: none;
  margin: 10px;
}

.inputbox {
  max-width: 20vw;
  min-width: 15vw;
  height: 34px;
  text-align: center;
}

.startbutton {
  width: 10vw;
  height: 38px;
  color: white;
}

.welcome {
  text-decoration: underline;
  text-decoration-color: var(--ctp-mocha-lavender) !important;
}

body {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
  /* background-image: url(./background.jpg); */
  background-image: url(https://raw.githubusercontent.com/catppuccin/wallpapers/main/misc/rainbow.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: 100%;
  /* background-color: #151515; */
  /* I adjusted the padding whilst in School, I have no idea if this looks any good */
  padding-top: 20vh;
  padding-bottom: 10vh;
  padding-inline: 15vw;
  /* padding-left: 10vw; */
  /* padding-right: 10vw; */
  box-sizing: border box;
}

hr,
.message {
  /* margin-left: 20%;
    margin-right: 20%; */
  margin: auto;
}

hr {
  border: 0;
  border-top: 2.5px solid #1f1f1f;
}

.quotebox {
  background-color: var(--ctp-mocha-mantle);
  border-radius: 2rem;
  padding: 1px;
  min-width: 10px;
  margin: auto;
}

.body {
  background-color: var(--ctp-mocha-base);
  border-radius: 2rem;
  padding: 5%;
  border-style: solid;
  border-color: var(--ctp-mocha-crust);
  border-size: 1px;
}
